/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/CSS3";


$side : 15%;
$nav : 50px;
$nav-bg-color : hsla(0,0%,18%,1);
$frameHeight: 600px;

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

html {
	backgound-color: hsla(240%,15%,75,1);
}

a {	
	cursor:pointer;
	text-decoration:none;
}


nav {
	position: relative;
	z-index:999999;
	height: $nav;
	padding-top: 15px;
	padding-left: 15px;
	font-size: 24px;
	background-color: $nav-bg-color;
	a {
		color: white;
	}
	sub {
		color: white;
	}
	ul {
		list-style-type: none;
		font-family: cursive, sen-seirf, arial;

		.number {		
			display:inline-block;
			font-family: "times new roman", sen-seirf, arial;
			margin-left:15px;
			@include transform(skewX(-15deg));
			
		}
		li {
			display: inline;
			padding: 1%;
			a {
				$w: 15px;
				display: inline-block;
				width: $w;
				height: $w;
				margin-left: 1%;
				padding: 3px;
				@include border-radius(50%);
				border: 3px solid gray;
				text-decoration: none;
				&:hover, &:active, &.active {
					background-color: mix(black,gray);
				}
			}	
		}
	}
}

#side, #main {
	@include transition(width 0.2s ease);
}

#side {
	@include box-sizing(border-box);
	width: $side;
	float:left;
	height: $frameHeight;	
	overflow-x: hidden;
	overflow-y: auto;
	margin-top : 25px;	
	ul {
		margin-left : 10%;	
		li {
			margin-top : 10px;
			width: 80%;
			a {
				$w: 18px;
				$p: 3px;
				display:inline-block;
				padding-top: $p;
				padding-left: $p*5;
				width: $w * 7;
				overflow:hidden;
				font-size: $w;
				line-height: 120%;
				text-decoration: none;
				@include transition(height 2s ease);
				&:hover, &:active {
					$b: 5px;
					padding-left: $p*5 - $b;
					border-left: $b solid mix(black,cyan);
				}
				&.active {
					background-color:  $nav-bg-color;
					color: darken(white,10%);
				}
				&.elem {
					margin-left:15px;
				}
				img{
					margin-right:5px;
					&.folder {
						height:15px;
					}
				}
				.arrowHead{
					$a: 6px;
					display:inline-block;
					width:0px;
					position:relative;
					top: -$a / 2;
					left: $a * 2;
					&.right{
						border-left: $a solid black;
						border-top: $a solid transparent;
						border-bottom: $a solid transparent;						
					}
					&.down{
						border-top: $a solid black;
						border-left: $a solid transparent;
						border-right: $a solid transparent;	
					}
				}

			}			
		}
	}
}

#main {
	width: 100% - $side;
	height: $frameHeight;
	float:right;
	iframe {
		width: 100%;
		height: 100%;
		$f : hsla(0,50%,95%,1);
		background:url(../images/tiles.png);
		@include transition(opacity 2s ease);
		&.null,&.loading {
			@include transition(opacity 0.5s ease);
			opacity: 0;
			z-index: -5;
		}
	}
}

