/* line 4, ../sass/goban-ui.scss */
.goban-logo {
  display: inline-block;
  height: 50px;
}

/* line 9, ../sass/goban-ui.scss */
.goban-fixed-right {
  position: fixed;
  top: 5px;
  right: 15px;
}

/* line 15, ../sass/goban-ui.scss */
.goban-blank {
  position: absolute;
  z-index: 3;
  top: 70px;
  left: 50%;
  opacity: 0.8;
}
/* line 21, ../sass/goban-ui.scss */
.goban-blank a {
  padding: 15px;
  margin-left: -75px;
  height: 20px;
  font-size: 20px;
  background-color: white;
  -moz-border-radius: 0px 0px 50% 50%;
  -webkit-border-radius: 0px;
  border-radius: 0px 0px 50% 50%;
}

/* line 33, ../sass/goban-ui.scss */
#goban-toggleSidebar {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 0px;
}
/* line 38, ../sass/goban-ui.scss */
#goban-toggleSidebar span {
  display: inline-block;
  width: 22px;
  height: 0px;
  border-top: 4px solid gray;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 48, ../sass/goban-ui.scss */
#goban-keyBordCtrl {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  width: 150px;
  height: 150px;
  padding: 15px;
}
/* line 58, ../sass/goban-ui.scss */
#goban-keyBordCtrl #backup {
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: cyan;
  width: 100px;
  height: 100px;
}
/* line 66, ../sass/goban-ui.scss */
#goban-keyBordCtrl #backup a {
  display: inline-block;
  position: relative;
  top: 22.5px;
  border-top: 45px solid #7fffff;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
}
/* line 73, ../sass/goban-ui.scss */
#goban-keyBordCtrl #backup a:hover {
  border-top: 45px solid #007f7f;
}
/* line 81, ../sass/goban-ui.scss */
#goban-keyBordCtrl #up, #goban-keyBordCtrl #down {
  position: absolute;
  left: 35px;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  width: 0px;
}
/* line 88, ../sass/goban-ui.scss */
#goban-keyBordCtrl #up {
  top: -7.5px;
  border-bottom: 15px solid cyan;
}
/* line 91, ../sass/goban-ui.scss */
#goban-keyBordCtrl #up:hover {
  border-bottom: 15px solid #007f7f;
}
/* line 95, ../sass/goban-ui.scss */
#goban-keyBordCtrl #down {
  top: 122.5px;
  border-top: 15px solid cyan;
}
/* line 98, ../sass/goban-ui.scss */
#goban-keyBordCtrl #down:hover {
  border-top: 15px solid #007f7f;
}
/* line 102, ../sass/goban-ui.scss */
#goban-keyBordCtrl #left, #goban-keyBordCtrl #right {
  position: absolute;
  top: 35px;
  width: 0px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
/* line 109, ../sass/goban-ui.scss */
#goban-keyBordCtrl #left {
  left: -7.5px;
  border-right: 15px solid cyan;
}
/* line 112, ../sass/goban-ui.scss */
#goban-keyBordCtrl #left:hover {
  border-right: 15px solid #007f7f;
}
/* line 116, ../sass/goban-ui.scss */
#goban-keyBordCtrl #right {
  left: 122.5px;
  border-left: 15px solid cyan;
}
/* line 119, ../sass/goban-ui.scss */
#goban-keyBordCtrl #right:hover {
  border-left: 15px solid #007f7f;
}
