/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
nav {
  height: 50px;
  padding: 15px;
  font-size: 22px;
}
/* line 19, ../sass/screen.scss */
nav ul {
  list-style-type: none;
}
/* line 22, ../sass/screen.scss */
nav ul li {
  display: inline;
  padding: 5px;
}
/* line 25, ../sass/screen.scss */
nav ul li a {
  padding: 15px;
  text-decoration: none;
}
/* line 29, ../sass/screen.scss */
nav ul li:hover {
  border-bottom: 5px solid cyan;
}

/* line 36, ../sass/screen.scss */
#side {
  width: 15%;
  float: left;
}
/* line 40, ../sass/screen.scss */
#side ul {
  margin-left: 15px;
}
/* line 42, ../sass/screen.scss */
#side ul li {
  margin-top: 15px;
}
/* line 44, ../sass/screen.scss */
#side ul li a {
  padding: 15px;
  text-decoration: none;
}
/* line 48, ../sass/screen.scss */
#side ul li:hover {
  margin-left: -5px;
  border-left: 5px solid cyan;
}

/* line 56, ../sass/screen.scss */
#main {
  width: 80%;
  float: right;
}

/* line 61, ../sass/screen.scss */
#keyBordCtrl {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 15px;
  z-index: 1;
  width: 200px;
  height: 200px;
}
/* line 70, ../sass/screen.scss */
#keyBordCtrl #backup {
  vertical-align: middle;
  text-align: center;
  line-height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: cyan;
  width: 100px;
  height: 100px;
}
/* line 83, ../sass/screen.scss */
#keyBordCtrl #up {
  position: absolute;
  top: -15px;
  left: 35px;
  border-bottom: 15px solid cyan;
  border-right: 30px solid transparent;
  border-left: 30px solid transparent;
  width: 0px;
}
